*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

/* BACKGROUND */

.background{

width:100%;
height:100vh;

background-image:url("../img/background.png");

background-size:cover;
background-position:center;
background-repeat:no-repeat;

/* posicionar conteúdo no rodapé */

display:flex;
justify-content:center;
align-items:flex-end;

padding-bottom:60px;

}

/* BOTÕES */

.botoes{

display:flex;
flex-direction:column;
gap:20px;

align-items:center;

}

/* BOTÃO BASE */

.botao{

text-decoration:none;

color:white;

padding:18px 45px;

font-size:22px;

border-radius:40px;

font-weight:bold;

transition:0.3s;

box-shadow:0 8px 25px rgba(0,0,0,0.4);

}

/* WHATSAPP */

.whatsapp{

background:#25D366;

}

.whatsapp:hover{

background:#1ebe5d;

transform:scale(1.05);

}

/* SITE */

.site{

background:linear-gradient(45deg,#ff9800,#ffc107);

}

.site:hover{

transform:scale(1.05);

}

/* RESPONSIVO */

@media (max-width:600px){

.botao{

font-size:18px;
padding:16px 35px;

}

}






